
**/settings/Mainnet.toml
**/settings/Testnet.toml
.cache/**
history.txt

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules

# Ignore real testnet settings with mnemonics
settings/Testnet.toml
